@import url("https://fonts.maateen.me/kalpurush/font.css");

// =========== Colors
$first-color: #000;
$first-light-color: #595959;
$first-light-color-1: #e2e2e2;
$second-color: #d92621;
$blue-color: #0673e5;
$yellow-color: #ffb300;

// ============= Font
$body-font: "Kalpurush", sans-serif;

// ============== breakpoints
$desktop: 1264px; // desktop
$laptop: 1024px; // laptop
$tablet: 876px; // tablet
$mobile: 480px; // mobile
